@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 960px) {
	* {
		padding: auto;
		margin: auto;
	}

	img {
		margin: -80px;
		display: inline-block;
		width: 50%;
	}
	header {
		font-size: 20px;
	}
	.container {

		width: auto;
		display: block;

	}
	.block1 {
		width: auto;

	}
	.ddlblock {

		width:30%;
	display: block;
	}
	.bloctext {
		margin-left: 25px;
		width: auto;
		display: inline-block;
	}

.install {

		font-size: 20px;

	}


	footer {
		display: block;
		background-color: #02296f;

	}
}

