@font-face {
    font-family: 'din-medium';
    /*
    src: url('../fonts/DIN Medium.eot');
    src: url('../fonts/DIN Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DIN Medium.woff2') format('woff2'),
    url('../fonts/DIN Medium.woff') format('woff'),
    */
    url('../fonts/DIN Medium.ttf') format('truetype'),
    /*url('../fonts/DIN Medium.svg#ds-digitalbold') format('svg');*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'todayshop-lightregular';
    src: url('../fonts/todayshop-light_44888-webfont.eot');
    src: url('../fonts/todayshop-light_44888-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/todayshop-light_44888-webfont.woff2') format('woff2'),
    url('../fonts/todayshop-light_44888-webfont.woff') format('woff'),
    url('../fonts/todayshop-light_44888-webfont.ttf') format('truetype'),
    url('../fonts/todayshop-light_44888-webfont.svg#todayshop-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shopshop';
    /*
    src: url('../fonts/DIN Medium.eot');
    src: url('../fonts/DIN Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DIN Medium.woff2') format('woff2'),
    url('../fonts/DIN Medium.woff') format('woff'),
    */
    url('../fonts/TodaySHOP-Light_44888.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
    /*url('../fonts/DIN Medium.svg#ds-digitalbold') format('svg');*/

}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #444;
    position: relative;
    font-family: "din-medium", sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

.sous-page {
    background:
        /* top, transparent, faked with gradient */
        linear-gradient(
            rgba(104, 189, 230, 0.1),
            rgba(96, 62, 146, 0.1)
        );
    padding: 20px 20px;
    margin: 20px;
}
.sous-page h1 {
    color: rgba(96, 62, 146, 0.75);
}
.sous-page h1 small {
    color: rgba(104, 189, 230, 0.75);
}

.intro {
    /*display: table;*/
    width: 100%;
    height: auto;
    min-height: 100%;
    /*padding: 100px 0;*/
    text-align: left;
    color: white;
    background-color: none;
    background:
        url(../img/thumbs/bg1.jpg) no-repeat 82% center fixed;                

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-transition: background-image .5s ease-in-out .3s;
    -moz-transition: background-image .5s ease-in-out .3s;
    -ms-transition: background-image .5s ease-in-out .3s;
    -o-transition: background-image .5s ease-in-out .3s;
    transition: background-image .5s ease-in-out .3s;
}

.imgPress{
    margin-top: 5px;
}

.intro .intro-body {
   /* display: table-cell;
    vertical-align: middle;*/
}
#intro-content {
    background: linear-gradient(
        rgba(104, 189, 230, 0.5),
        rgba(96, 62, 146, 0.5)
    );
    padding: 2em;
}
#intro-content h1 {
    padding-top: 0;
}

.intro .intro-body .brand-heading {
    font-size: 5em;
}
.intro .intro-body .brand-heading small {
    font-size: 0.5em;
    color: #fafafa;
}

.intro .intro-body .intro-text {
    font-size: 1.2em;
}
.intro img {

}

@media(min-width:10px) {
    .intro {
        height: auto;
        min-height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 5em;
    }

    .intro .intro-body .intro-text {
        font-size: 1.2em;
    }
}

.nav>li>a {
    color: white;
    padding: 12px;
}
.nav>li>a:hover, .nav>li>a:active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.navbar-default {
    background-color: rgba(96, 62, 146, 1);
    border-color: transparent;
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


.img-about-us {
    height: 200px
}

.button-stop-spot {
    z-index: 100000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 76px;
    height: 76px;
}

.button-stop-spot a {
    width: 24px;
    height: 24px;
    padding: 26px;
    float: left;
}

.button-stop-spot img {
    width: 24px;
    height: 24px;
}

.titleInfo {
    font-family: 'todayshop-lightregular', sans-serif;
    font-size: 3em;
    margin-top : 50px;
letter-spacing: 3px;
}

.download
{
    text-align: right;
}



.bottomInfo{
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.socialBtn{
    padding-left: 4%;
}
.socialBtn img{
    width: 50px;

}

.imageTwitter {
    margin-left: 2%;
}

.imageFacebook{
    margin-right: 2%;
}

.download img{

    height: 80px;
}

.row {
    margin : 0px
}

.rowPlay{
    position: absolute;
    top: 0xp;

    top: 50%;

    left: 50%;
    margin-left: -75px;
}

.form-group{
    color: rgba(96, 62, 146, 1)
}
#countbox1{
    font-size: 70px;
    font-family: 'todayshop-lightregular';
    text-align: center;
}
@media screen and (max-width: 767px) {
    .col-xs-12{
        text-align: center;
    }
    .download
    {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .bottomInfo{
        position: relative;
        bottom: 0px;
        width: 100%;
        margin-top: 50px;
    }

    .rowPlay{

        margin: 0px;
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
    }

}