body {
    font-family: sans-serif;
    margin-bottom: 70px;
}
.container {
    border: 1px solid #d0d0d0;
}
.sous-page {
    background: 
        /* top, transparent, faked with gradient */ 
        linear-gradient(
            rgba(0, 0, 0, 0.05), 
            rgba(0, 0, 0, 0.05)
        );
    padding: 10px;
    margin: 20px;
}
h1 {
    color: white;
    background: url(../img/TILK-background.jpg) repeat-x top right;
    background-size: 100% auto;
    padding: 10px;
}
h1 small {
    color: white;
}
.sous-page {
    color: rgba(96, 62, 146, 1);
}

.nav>li>a {
    color: white;
    padding: 12px;
}
.nav>li>a:hover, .nav>li>a:active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.navbar-default {
    background-color: rgba(96, 62, 146, 1);
    border-color: transparent;
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}